<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users Created</title>

  <style>
    body, span {
      color: #353535;
    }

    header {
      text-align: center;
    }

    .text-green {
      color: #006c59;
    }
  </style>
</head>
<body>
  <header>
    <h1 class="text-green">Olá, {{name}}!</h1>
    <h2>Sua conta no InstaqBot foi criada com sucesso!</h2>
  </header>

  <p class="text-green">email: <span>{{email}}</span></p>
  <p class="text-green">senha: <span>{{password}}</span></p>
</body>
</html>
